.nft {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

@media screen and (max-width: 850px) {
  .nft {
    flex-wrap: wrap;
  }
}

.nft img {
  max-width: 300px;
  height: auto;
}

.nft > div {
  flex-basis: 1;
  flex-grow: 1;
}

.nft > div:first-of-type {
  flex-basis: 200px;
  flex-grow: 0;
  padding-right: 10px;
}
