.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid transparent;
}

.item.selected {
  border-color: #9e9193 !important;
  border-radius: 5px;
  padding: 10px;
}

.item img {
  width: 100%;
  height: auto;
}

.item strong {
  margin-top: 5px;
}

.item p {
  margin: 0;
}
