.bidList {
  display: table;
  width: 100%;
}

.bidList > .header {
  display: table-header-group;
  background-color: #8e818e;
}

.bidList > div {
  display: table-row;
  background-color: #e8e8e8;
}

.bidList > div > div {
  display: table-cell;
  padding: 10px;
}

.newBidWrapper h3 {
  margin-bottom: 0;
}

.newBidWrapper label {
  display: block;
  margin-top: 10px;
}

.newBidWrapper input {
  display: block;
  margin-top: 5px;
}

.newBidWrapper button {
  margin-top: 10px;
}
